*{
    box-sizing: border-box;
}
:root{
    --size-border:15px;
}
body{
    --Blue-Sky:rgb(141, 141, 255);
    background-color: var(--Blue-Sky);
}
h1{
    text-align: center;
}
.continer{
    display: block;
}
.wrapper{
    display: inline-block;
    margin-left: 5%;
}
.box{
    display: block;
    width: 20vw;
    height: 50vh;
    border-radius: var(--size-border);
    margin: 10px;
    float: left;
}
h3,p{
    text-align: center;
}
.box>img{
    width: 19.7vw;
    height: 30vh;
    border-radius: var(--size-border);
}

.M{
    background-color: green;
    border: 3px solid white;
}
.Z{
    background-color: grey;
    border: 3px solid white;
}
.P{
    background-color: pink;
    border: 3px solid green;
}
.Q{
    background-color: red;
    border: 3px solid greenyellow;
}
.MM{
    background-color: red;
    border: 3px solid black;
}
.C{
    background-color: yellow;
    border: 3px solid pink;
}
.MK{
    background-color: green;
    border: 3px solid yellow;
}
.R{
    background-color: purple;
    border: 3px solid green;
}
